<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div>home</div>
    <pre>
        #*
        块注释
        *#
        $!{value1}
        $!{value2} ##如果不存在 强制为空
        ${value3}
        colors:$!{colors}

        #foreach($color in $colors)
            This is Color $!{foreach.index}: $color , $!{foreach.count}
        #end

        #foreach($key in $map.keySet())
            Number:$key, Value:$map.get($key)
        #end
        #foreach($kv in $map.entrySet())
            Number:$kv.key, Value:$kv.value
        #end

        User: $!{user.name}
        $!{user.getName()}
        $!{user.description}

        #set($title = "nowcoder")
        $!{title}


        #macro (render_color, $index, $color)
            Color Render Macro $index, $color
        #end

        #foreach($color in $colors)
            #render_color($foreach.index, $color)
        #end

        #set($hello = "hello")
        #set($helloWorld1 = "${hello} world!")
        #set($helloWorld2 = '${hello} world!')

        $!{helloWorld1}
        $!{helloWorld2}
        <!--注意下面这个路径-->
        Parse: #parse("/templates/name.html")
        Include: #include("/templates/name.html")
    </pre>
</body>
</html>